<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">

</head>
<body>

    <nav class="navbar navbar-dark bg-dark fixed-top">
        <div class="container-fluid" style="justify-content: flex-start;">
    
          <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasDarkNavbar" aria-controls="offcanvasDarkNavbar" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <a class="navbar-brand mx-3" href="#">Dashboard</a>
    
    
          <div class="offcanvas offcanvas-start text-bg-dark" tabindex="-1" id="offcanvasDarkNavbar" aria-labelledby="offcanvasDarkNavbarLabel">
            <div class="offcanvas-header">
              <h5 class="offcanvas-title" id="offcanvasDarkNavbarLabel">RDMS</h5>
              <button type="button" class="btn-close btn-close-white" data-bs-dismiss="offcanvas" aria-label="Close"></button>
            </div>
            <div class="offcanvas-body">
              <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
                <li class="nav-item">
                  <a class="nav-link active" aria-current="page" href="index.html">Home</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="dashboard.html">Dashboard</a>
                </li>
                <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    Dropdown
                  </a>
                  <ul class="dropdown-menu dropdown-menu-dark">
                    <li><a class="dropdown-item" href="#">Action</a></li>
                    <li><a class="dropdown-item" href="#">Another action</a></li>
                    <li>
                      <hr class="dropdown-divider">
                    </li>
                    <li><a class="dropdown-item" href="#">Something else here</a></li>
                  </ul>
                </li>
                <li class="nav-item">
                  <a class="nav-link" id="logoutBtn">Logout</a>
                </li> 
              </ul>
              <form class="d-flex mt-3" role="search">
                <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-success" type="submit">Search</button>
              </form>
            </div>
          </div>
        </div>
    </nav>

    <div class="container-fluid">

        <!-- **** Cards **** -->
        <div class="row mt-5 mb-5">
            <div class="col-sm-3 mt-3">
              <div class="card text-white bg-primary">
                <div class="card-body">
                  <h5 class="card-title">Users</h5>
                  <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                  <a href="users.html" class="text-white link-offset-2 link-underline link-underline-opacity-0">
                    <div class="card-footer d-flex justify-content-between pt-3">
                      <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" fill="currentColor" class="bi bi-eye-fill" viewBox="0 0 16 16">
                          <path d="M10.5 8a2.5 2.5 0 1 1-5 0 2.5 2.5 0 0 1 5 0"/>
                          <path d="M0 8s3-5.5 8-5.5S16 8 16 8s-3 5.5-8 5.5S0 8 0 8m8 3.5a3.5 3.5 0 1 0 0-7 3.5 3.5 0 0 0 0 7"/>
                      </svg>
                      <small class="text-white">View</small>
                    </div>
                  </a>
                </div>
              </div>
            </div>
            <div class="col-sm-3 mt-3">
              <div class="card text-white bg-success">
                <div class="card-body">
                  <h5 class="card-title">Accomplishments</h5>
                  <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                  <a href="accomplishments.html" class="text-white link-offset-2 link-underline link-underline-opacity-0">
                    <div class="card-footer d-flex justify-content-between pt-3">
                      <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" fill="currentColor" class="bi bi-eye-fill" viewBox="0 0 16 16">
                          <path d="M10.5 8a2.5 2.5 0 1 1-5 0 2.5 2.5 0 0 1 5 0"/>
                          <path d="M0 8s3-5.5 8-5.5S16 8 16 8s-3 5.5-8 5.5S0 8 0 8m8 3.5a3.5 3.5 0 1 0 0-7 3.5 3.5 0 0 0 0 7"/>
                      </svg>
                      <small class="text-white">View</small>
                    </div>
                  </a>
                </div>
              </div>
            </div>
            <div class="col-sm-3 mt-3">
                <div class="card text-white bg-warning">
                    <div class="card-body">
                        <h5 class="card-title">Special title treatment</h5>
                        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                        <div class="card-footer d-flex justify-content-between pt-3">
                            <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" fill="currentColor" class="bi bi-eye-fill" viewBox="0 0 16 16">
                                <path d="M10.5 8a2.5 2.5 0 1 1-5 0 2.5 2.5 0 0 1 5 0"/>
                                <path d="M0 8s3-5.5 8-5.5S16 8 16 8s-3 5.5-8 5.5S0 8 0 8m8 3.5a3.5 3.5 0 1 0 0-7 3.5 3.5 0 0 0 0 7"/>
                            </svg>
                            <small class="text-white">View</small>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-3 mt-3">
                <div class="card text-white bg-danger">
                    <div class="card-body">
                        <h5 class="card-title">Special title treatment</h5>
                        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                        <div class="card-footer d-flex justify-content-between pt-3">
                            <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" fill="currentColor" class="bi bi-eye-fill" viewBox="0 0 16 16">
                                <path d="M10.5 8a2.5 2.5 0 1 1-5 0 2.5 2.5 0 0 1 5 0"/>
                                <path d="M0 8s3-5.5 8-5.5S16 8 16 8s-3 5.5-8 5.5S0 8 0 8m8 3.5a3.5 3.5 0 1 0 0-7 3.5 3.5 0 0 0 0 7"/>
                            </svg>
                            <small class="text-white">View</small>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <!-- **** Analytics **** -->
        <div class="row">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ratione voluptas odit quis itaque fuga. Id dolores obcaecati magni ullam. Nulla odit similique deserunt consequuntur saepe suscipit quos accusamus adipisci veritatis?</p>
        </div>

    </div>

    <script>
      document.getElementById('logoutBtn').addEventListener('click', function() {

        // Get data
        const credentials = {
          username : localStorage.getItem('username'),
          id : localStorage.getItem('id') 
        }

        const userData = JSON.stringify(credentials);

        fetch('../services/logout.php', {
            method: 'POST',
            headers: {
              'Content-Type': 'application/json'
            },
            body: userData // Include data in the request body
        })
        .then(response => {
          if (response.ok) {
              // Parse the response body as JSON
              return response.json();
          } else {
              // Handle HTTP error
              alert('Logout failed. Please try again.');
              console.error('HTTP error:', response.status);
              throw new Error('HTTP error ' + response.status);
          }
        })
        .then(data => {
          // Check if the logout was successful
          if (data.success) {
            alert(data.message); // Show success message
            
            localStorage.removeItem('username');
            localStorage.removeItem('id');
            
            // Redirect to the login page after successful logout
            window.location.href = './login.html';

          } else {
            // Show error message
            alert(data.message);
            console.error('Login failed:', data.message);
          }
        })
        .catch(error => {
            console.error('Error during logout:', error);
        });
      });
    </script>

    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.min.js" integrity="sha384-0pUGZvbkm6XF6gxjEnlmuGrJXVbNuzT9qBBavbLwCsOGabYfZo0T0to5eqruptLy" crossorigin="anonymous"></script>   
</body>
</html>